.startButton {
	background-color: green;
	color: white;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 4px 2px;
	display: inline-block;
	position: absolute;
    top: 40%;
	left: 42%;
	font-size: 30px;
	height: 100px;
	width: 200px;
	border: groove;
}

.entryPage h1 {
	color: navy;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 3em;
}

.theGame h1 {
	color: navy;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.theGame h2 {
	color: darkgreen;
	font-size: 25px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.allLetters button {
	background-color: white;
	font-weight: bold;
	font-size: 25px;
	display: inline-block;
	color : black;
	height: 70px;
	width: 80px;
	margin: 10px;
	border: groove;
	border-width: 4px;
}

.optionButton {
	background-color: #FFFFFF;
	font-weight: bold;
	border-radius: 20px;
	width:  270px;
	height: 45px;
	font-size: 15px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 4px 2px;
	border: groove;
	border-width: 4px;
}

body {
	background-color: khaki;
}